.errorBox {
  left: 50%;
  transform: translate(-50%);
  top: 1vh;
}

.datePicker {
  background-color: rgba(0, 0, 0, 0);
  height: 2em;
  width: 8.5em;
  border: none;
}

.datePicker:focus {
  outline: none;
}

.datePicker:hover {
  cursor: pointer;
}

.timePicker {
  background-color: rgba(0, 0, 0, 0);
  height: 2em;
  border: none;
}

.timePicker:focus {
  outline: none;
}

.timePicker:hover {
  cursor: pointer;
}

.cashEventsTable:hover {
  cursor: pointer;
}

.date {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.date:focus {
  outline: none;
}

.date:hover {
  cursor: pointer;
}

.weatherTile:hover {
  cursor: pointer;
}
